.add-task-group {
  margin-top: 20px;
}
.add-task-group__button-wrapper {
  position: fixed;
  right: 50px;
  bottom: 40px;
}
.add-task-group__input {
  font-size: 1.5em;
  font-weight: 500;
  transform: scale(1, 1.05);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: 10px;
}
