.task {
  display: grid;
  grid-template-columns: 40px minmax(600px, 1fr);
  grid-template-rows: 30px;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 3px;
}
.task:not(.task--selected):hover {
  transition: background 0.3s;
  background: rgba(0, 0, 0, 0.05);
}
.task--selected {
  background: #2e92f8;
  transition: background 0.3s;
  color: white;
}
.task--selected .task__date {
  color: white;
}
.task--selected .task__actions {
  display: block;
}

.task__actions {
  display: none;
  position: absolute;
  right: 5px;
  top: 4px;
  background: transparent;
}
.task__actions button {
  color: white;
  border: none;
  cursor: pointer;
  background: transparent;
}

.task__input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  margin-left: -1px;
  font-weight: 400;
  width: 100%;
  outline: none;
}
.task__body {
  letter-spacing: 0.2px;
}
.task__body .task__text {
  display: inline-block;
  position: relative;
  /* transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1); */
}
.task:not(.task--selected) .task__body--complete .task__text {
  color: grey;
}
.task__body .task__text:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -9px;
  background: grey;
  transform-origin: center left;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-name: reverse-strikethrough;
  transform: scaleX(0);
}
.task__body--complete .task__text:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -9px;
  background: grey;
  transform-origin: center left;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-name: strikethrough;
  transform: scaleX(1);
}
.task--selected .task__body--complete .task__text:after {
  background: white;
}
.task__date {
  font-size: 10px;
  color: grey;
  margin-left: 10px;
}
.task__body--complete .task__date {
  display: none;
}

.task--selected .checkbox label:after {
  border-right: 1px solid white;
  border-top: 1px solid white;
}

@keyframes strikethrough {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes reverse-strikethrough {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
