.topic {
  padding: 30px 50px;
  height: 100vh;
  overflow-y: scroll;
}
.topic__journal {
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid;
  padding: 3px 5px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px;
}
.topic__name {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
  position: relative;
}
.topic__options {
  display: inline-block;
  margin-left: 15px;
  bottom: 8px;
  position: absolute;
}

.topic__options .option-button__options {
  animation: topic-slide-down 0.2s forwards;
}
.topic__input {
  font-size: 40px;
  border: none;
  border-bottom: 1px solid black;
  margin-left: -1px;
  font-weight: 600;
  width: 100%;
  outline: none;
  margin-bottom: 25px;
}

@keyframes topic-slide-down {
  100% {
    top: 54px;
  }
}
