* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
}
h2 {
  margin: 0 0 10px;
}
input[type='checkbox'] {
  visibility: hidden;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.date-card {
  padding: 10px;
  margin: 10px 0;
  background: white;
  position: relative;
  box-shadow: 1px 1px 3px #888888;
  overflow: hidden;
}
.date-card__counts {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
}
